{% extends 'temp/index.html' %}
{% block base %}


<form method="post">
    {% csrf_token %}
	<table align="center">
		<H2>ADD TYPE OF FUND</H2>
		<tr>
			<td>Category:</td>
			<td><input type="input" name="acategory" class="form-control"></td>
		</tr>
		<tr>
			<td>Issue Date:</td>
			<td>
				<input type="Date" name="adate" class="form-control">

			</td></tr>
			<tr><td>Validity:</td>
				<td><input type="Text" name="avalidity" class="form-control"></td>
		</tr>
		<tr>
			<td>Amount:</td>
			<td><input type="Text" name="aamount" class="form-control"></td>
		</tr>
        <tr align="center"><td></td></td><td><input type="submit" name="asubmit" value="ADD"  class="btn btn-success"></td></tr>
	</table>
</form>

{% endblock %}